@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-gray-800 text-base;
	font-family: 'Poppins', sans-serif;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}

.scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

input:focus,
button:focus,
textarea:focus {
	outline: none;
}
